* {
    padding: 0;
    margin: 0;
	outline: none; }

body {
    display: grid;
    min-height: 100vh;
}

header {
    background: #F2F2F2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 60% 30%;
    grid-template-columns: 10% 60% 30%;
    height: 80px;
    padding: 0 10vw; }
.py-4{
min-height: 91.7vh;
}

.neobutt{
    background: #A2C83A;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    font-size: .5rem;
    text-decoration: none;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 1rem;
    align-self: end;
    width: 5rem;
    z-index: 5;
    left: 0;
}

.aboutproject{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 8.5rem;
    padding-top: 1rem;
}

.aboutproject-inner{
    padding-left: 10%;
    display: grid;
    grid-template-rows: 2rem auto auto;
}

footer {
    clear: both;
    position: relative;
	margin-bottom: -40px
}
.logo {
    display: grid;
    background: #F2F2F2;
    display: -ms-grid;
}
.logo img {
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

header button {
    width: 100%; }

.hrefs {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-column-align: start;
    justify-self: start;
    justify-items: center;
    -ms-grid-row-align: center;
    align-self: center; }

.hrefs a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    color: #000000;
    text-decoration: none; }

button {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    width: 212px;
    height: 30px;
    background: #23A4DD;
    border-radius: 5px;
    border: none;
    color: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    cursor: pointer; }
.pay{
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    padding-top: 1%;
    width: 100%;
    height: 30px;
    background: #23A4DD;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.sendoffer{
    display: grid;
}
.sendoffer button {
    margin-right: 20px;
    height: 100px;
    width: 120px;
    background: white;
    border: 2px solid black;
}
.s1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 85vh;
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 0 10vw; }

.block2 {
    display: -ms-grid;
    display: grid;
    padding: 0 5%;
    overflow-x: hidden; }

.block2 ul {
    list-style: none;
    height: 880px; }

.block2 ul li {
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    display: -ms-grid;
    display: grid;
    padding-top: 4%;
    padding-bottom: 4%;
    -ms-grid-columns: 150px 2fr 1fr;
    grid-template-columns: 150px 2fr 1fr; }

.block2 ul li img {
    border-radius: 5px;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

.div1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: start;
    justify-self: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: start; }

.div1 h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.85); }

.div1 p {
    font-family: Roboto;
    align-self: start;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    width: 100%; }

.div1 button {
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    color:white;
}

.div2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #385E6E;
    /*border: 2px solid #B2DFF3;*/
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*border-radius: 5px;*/
    display: -ms-grid;
    display: grid;
    /*-ms-grid-columns: 1fr 1fr;*/
    /*grid-template-columns: 1fr 1fr;*/
    width: 70%;
    -ms-grid-column-align: center;
    justify-self: center; }

.div2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #385E6E;
    /*border: 2px solid #B2DFF3;*/
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*border-radius: 5px;*/
    display: -ms-grid;
    display: grid;
    /*-ms-grid-columns: 1fr 1fr;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*width: 70%;*/
    /*-ms-grid-column-align: center;*/
    /*justify-self: center; */
}

.div2 img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: start !important;
    justify-self: start !important; }

.div2 h3 {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
}
/*.div2 span {*/
    /*-ms-flex-item-align: center;*/
    /*-ms-grid-row-align: center;*/
    /*align-self: center;*/
    /*-ms-grid-column-align: center;*/
    /*justify-self: center; }*/

.div1 button:hover {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    background: -webkit-gradient(linear, left bottom, left top, from(#A2C83A), to(#A2C83A));
    background: -webkit-linear-gradient(bottom, #A2C83A, #A2C83A);
    background: -o-linear-gradient(bottom, #A2C83A, #A2C83A);
    background: linear-gradient(0deg, #A2C83A, #A2C83A); }

.arts button {
    background: #fff;
    color: #154255;
    font-weight: 500; }

.s2 {
    background: #262626;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%; }

.s2 div {
    display: -ms-grid;
    background: #595959;
    border-radius: 10px;
    display: grid;
    height: 250px;
    justify-items: center; }

.s2 h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    padding-top: 7%;
    padding-bottom: 5%; }
.s2 h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    padding-top: 7%;
    padding-bottom: 5%; }

.s2 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    padding: 0 15%; }

.s3 {
    background: url("/assets/img/Group.png");
    background-size: cover;
    background-position: 0 -85px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
    grid-template-columns: 40% 60%;
    padding: 3% 10vw; }

.sect3-div {
    display: -ms-grid;
    display: grid;
    color: #ffffff;
    margin-top: 10%;
    margin-bottom: 5%; }

.sect3-div h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 81px;
    color: #FFFFFF;
    padding-bottom: 1%;
    border-bottom: 3px solid white;
    width: 60%; }

.sect3-div h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    color: #FFFFFF;
    padding-bottom: 4%; }

.sect3-div p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 2%; }

.s3grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 3%;
    padding-top: 3%; }

.s3grid div {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    width: 70%; }

.s3grid div:nth-child(1) {
    justify-items: start;
    width: 50%; }

.s3grid h2 {
    font-size: 61px;
    font-weight: 100; }

.s3grid h1 {
    border: none;
    width: auto;
    -ms-grid-column-align: center;
    justify-self: center; }

.sect3-div button {
    color: #23A4DD;
    background: #fff;
    -ms-grid-column-align: start;
    justify-self: start;
    width: 25%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 3%; }

.s4 {
    background: #154255;
    padding: 2% 10vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 30% 30% 30%;
    grid-template-columns: 10% 30% 30% 30%; }

.s4 ul {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
    list-style-position: outside; }

.s4 ul li {
    padding-bottom: 4%; }

.s4 ul li:nth-child(1) {
    list-style: url("/assets/img/t1.png"); }

.s4 ul li:nth-child(2) {
    list-style: url("/assets/img/t2.png"); }

.s4 ul li:nth-child(3) {
    list-style: url("/assets/img/t3.png"); }

.s4 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    width: 80%;
    line-height: normal;
    color: rgba(255, 255, 255, 0.65); }

.s4 img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

.arts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px; }

.arts div {
    background-size: cover;
    color: #fff;
    border-radius: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    -ms-grid-rows: 93% 7%;
    grid-template-rows: 93% 7%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    line-height: normal;
    display: -ms-grid;
    display: grid; }

.partic h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 54px;
    line-height: normal;
    color: #FFFFFF;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.partic img:nth-child(1) {
    position: relative;
    bottom: 4%; }

a {
    text-decoration: none; 
}

.arts div img {
    width: 100%;
    height: 100%; }

/*.arts div:after {*/
    /*content: 'Lorem ipsum dolor sit amet.';*/
    /*position: relative;*/
    /*top: -50px;*/
    /*left: 20px;*/
    /*color: #fff; }*/

/*.arts div:before {*/
    /*content: 'Lorem ipsum dolor sit amet.';*/
    /*position: absolute;*/
    /*font-weight: 500;*/
    /*font-size: 24px;*/
    /*padding-left: 20px;*/
    /*padding-top: 16%;*/
    /*color: #fff; }*/
.projectt h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    /* font-size: 54px; */
    font-size: 1.5rem;
    /* line-height: normal; */
    color: rgba(0, 0, 0, 0.65); }

.projectt p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65); }

.projectt button {
    background: -webkit-gradient(linear, left bottom, left top, from(#A2C83A), to(#A2C83A)), #23A4DD;
    background: -webkit-linear-gradient(bottom, #A2C83A, #A2C83A), #23A4DD;
    background: -o-linear-gradient(bottom, #A2C83A, #A2C83A), #23A4DD;
    background: linear-gradient(0deg, #A2C83A, #A2C83A), #23A4DD;
    border-radius: 5px;
    font-family: Roboto;
    justify-self: start;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    height: 35px; }

.projectt .sect1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }

.projectt .rightcol1 {
    display: -ms-grid;
    display: grid;
    /* -ms-grid-rows: 45% 35% 20%; */
    /* grid-template-rows: 45% 35% 20%; */
    padding: 5% 5% 5% 0; }

.projectt .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto; }

.projectt .mySlides {
    display: none; }

.projectt .dot {
    cursor: pointer;
    height: 55px;
    width: 74px;
    margin: 0 2px;
    background: url("/assets/img/dot.png");
    background-size: cover;
    display: inline-block;
    position: relative;
    top: -100px; }

.projectt .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
    from {
        opacity: .4; }
    to {
        opacity: 1; } }

@keyframes fade {
    from {
        opacity: .4; }
    to {
        opacity: 1; } }

.projectt .userinfo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr; }

.projectt .ava {
    width: 100%; }

.projectt .nut {
    display: -ms-grid;
    display: grid;
    padding-left: 10%;
    -ms-grid-rows: auto;
    grid-template-rows: 1fr 1fr 1fr; }

.projectt .nut p {
    /* font-size: 24px; */
    font-size: 1.5rem; }

.projectt .bluebut {
    background: #23A4DD; }

.projectt .hrefs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 50%;
    -ms-grid-row-align: center;
    justify-self: start;
    align-self: center; }

.projectt .buts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-row-align: end;
    align-self: end;
    grid-gap: 25px; }

.projectt .rightcol1 p {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start; }

.projectt .recommend h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65); }

.projectt .recommend div {
    display: -ms-grid;
    display: grid;
    width: 75%;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px; }

.projectt .recommend div button {
    background: #fff;
    color: #23A4DD;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15); }

.projectt .recommend {
    display: -ms-grid;
    display: grid; }

.projectt .slider {
    padding-right: 5%;
    padding-top: 5%;
    display: -ms-grid;
    display: grid; }

.projectt .text1 {
    width: 90%;
    padding-top: 5%; }

.projectt .sect2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }

.search {
    background: #F2F2F2;
    border-radius: 10px;
    padding: 3%;
    margin: 5%;
}

.search form {
    display: -ms-grid;
    display: grid;
    margin-bottom: 1%;
    -ms-grid-columns: 80% 19%;
    grid-template-columns: 80% 19%;
    grid-gap: 10px; }

.search input {
    border: 1px solid rgba(0, 0, 0, 0.35);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    padding-left: 2%;
    font-weight: normal;
    font-size: 16px;
    background: transparent;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    height: 35px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background: white;
}

.search form button {
    color: white;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background: #23A4DD; }

.specdiv{
    /*display: -ms-grid;*/
    /*display: grid;*/
    overflow: scroll;
    height: 68vh;
    grid-gap: 10px;
	border-radius: 10px;
    padding-top: 10px;
    margin-top: 3%;
    background: #f2f2f2;
}

.specblock {
    background: #fff;
    padding: 2% 4%;
    margin: 2% 0;
    border-radius: 10px;
    display: -ms-grid;
    height: 120px;
    display: grid;
}

.spectop {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 10px;
    -ms-grid-columns: 10% 80% 10%;
    grid-template-columns: 10% 80% 10%; }

.projectt h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.85); }

.projectt h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65); }

.projectt form img {
    -ms-grid-column-align: center;
    justify-self: center; }

.like {
    -ms-grid-column-align: end;
    justify-self: end; }

.specblock p {
    padding-top: 0;
    padding-bottom: 0;
	align-self: center;
	word-break: break-word;
    width: 100%; }

.morecomm {
    width: 100%;
    margin-top: 10px;
    background: #fff;
    color: #23A4DD; }

.projectt .othproj h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
    height: 50px; }

.projectt .othproj {
    margin: 0 0;
    padding: 0 0; }

.projectt ul li {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 3%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
    grid-template-columns: 20% 60% 20%; }

.projectt ul {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    height: 68vh;
    overflow: scroll;
    padding-top: 10px; }

.projectt ul li div:nth-child(3) {
    border: 2px solid #B2DFF3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }

.projectt ul li span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #385E6E;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

.projectt ul li div:nth-child(3) img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-left: 5%; }

.projectt ul li h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.85); }

.projectt ul li button {
    width: 35%;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end; }

.projectt .projmid {
    display: -ms-grid;
    display: grid; }

.projectt .moreproj {
    width: 100%;
    margin-top: 10px;
    background: #23A4DD; }
.startup1{
    display: grid;
	min-height: 91.7vh;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(65.75deg, #23A4DD 0%, #4EC8FF 100%);
    padding-left: 10vw;
    padding-right: 10vw;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
}
.startup1 form{
	height: 550px;
    display: grid;
    grid-template-rows: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 5%;
}
.startup1 h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}
.startup1 label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
}
.startup1 button{
    width: 100%;
    color: white;
}
.startup1 input{
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    height: 35px;
    margin: 1% 0;
    line-height: normal;
    color: rgba(0, 0, 0, 0.2);
    padding-left: 1%;
}
.startup1 textarea{
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    height: 100px;
    margin: 1% 0;
    line-height: normal;
    padding-left: 1%;
}
.startup1 label{
    align-self: center;
}
.startup1 .picss{
    display: grid;
    grid-template-columns: 1fr 1fr
}
/*.startup1 .picss div{
    display: grid;
    grid-template-rows: 35% 65%;
}*/
.startup1 h5{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.2);
    position: relative;
    left: 35%;
    width: 50%;
}
.startup1 svg:hover path{
    fill: #23A4DD;
    fill-opacity: 1;
}
.startup1 svg:hover circle{
    fill: #23A4DD;
}
.startup1 .musordiv2{
    padding-left: 5%;
}
.projectimg{
    width: 100%;
}
.prof{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    background: url("/assets/img/obl.png");
    background-size: cover;
	border-radius: 0 0 10px 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 1.5%;
    margin: 0 10vw;
}
.prof img{
    width: 100%;
	border-radius: 10px;
}
.profinfo{
    display: grid;
    grid-template-rows: 1fr 5fr;
    color: #fff;
    font-family: Roboto;
    padding-left: 2%;
}
.profinfo h1{
    font-size: 2.5rem;
    font-weight: 600;
}
.profinfo p{
    font-size: 1.5rem;
    font-weight: normal;
}
.profinfo button{
    justify-self: end;
    align-self: end;
    background: #23A4DD;
    height: 80px;
    width: 150px;
    padding: 10px;
    font-family: Roboto;
    border-radius: 5px;
    font-size: 20px;
    color: white;

}
.under{
    display: grid;
    margin: 0 10vw;
    grid-template-areas:
        'c t'
        '. t';
}
.under .block2{
    margin-top: 3%;
    margin-bottom: 3%;
}
.post{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(65.75deg, #23A4DD 0%, #4EC8FF 100%);
    padding-left: 10vw;
    padding-right: 10vw;
    background-size: cover;
    background-position: 45% 0;
    padding-top: 2%;
    min-height: 91.7vh;
    padding-bottom: 2%;
}
.openfont{
    display: grid;
    align-items: center;
}
.post form{
    display: grid;
    grid-template-rows: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 5%;
    height: 80%;
}
.post h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}
.post label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}
.post button{
    width: 50%;
    align-self: end;
    justify-self: end;
    color: white;
}
.post input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    height: 35px;
    margin: 1% 0;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0);
    padding-left: 1%;
}
.post textarea{
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    height: 80px;
    margin: 1% 0;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0);
    padding-left: 1%;
}
.post label{
    align-self: center;
}
.post .picss{
    display: grid;
    grid-template-columns: 1fr 1fr
}
.post .picss div{
    display: grid;
    /* grid-template-rows: 35% 65%; */
}
.post h5{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    align-self: end
}
.post svg:hover path{
    fill: #23A4DD;
    fill-opacity: 1;
}
.post svg:hover circle{
    fill: #23A4DD;
}
.post .svg{
    grid-template-columns: 35% 65%;
}
.post svg{
    align-self: end
}
.postinfoimg{
    /*background: url("/assets/img/postbg.png");*/
    background-size: cover  !important;
    padding: 1.5%;
    height: 35vh;
    display: grid;
    margin: 0 10vw;
    border-radius: 0px 0px 10px 10px;
}

.postinfoimg div{
    display: grid;
    align-self: end;
    font-family: Roboto;
    grid-template-rows: auto;
}
.postinfoimg div h1{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
}
.postinfoimg div p{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
}
.pastila{
    margin: 2% 10vw;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 50px;
}
.pastila p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.65);
}
.pastila img{
    width: 100%;
}
.subscr{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 1% 10vw;
    grid-gap: 10px;
    background: #23A4DD;
}
.subscr input{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    padding-left: 3%;
    font-family: Roboto;
    height: 45px;
}
.subscr input::placeholder{
    color: #fff;
    font-family: Roboto;
}
.subscr h1{
    align-self: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.85);
}
.subscr button{
    background: #fff;
    height: 45px;
    width: 100%;
    color: #23A4DD;
}
.specblock h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.85); }

.specblock h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65); }

.specblock form img {
    -ms-grid-column-align: center;
    justify-self: center; }
.specblock p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}
.formpost .spectop{
    grid-template-columns: 5% 85% 5%;
}
.fullq{
    justify-self: center;
    /* width: 100%; */
}
/*.formpost .search form{*/
    /*grid-template-columns: 5% 85% 10%;*/
    /*padding: 0 1%;*/
/*}*/
.formpost .search form button{
    width: 100%;
    height: 35px;
}
/*.formpost .search form input{*/
    /*height: 35px;*/
    /*padding: 0;*/
    /*color: #000;*/
    /*padding-left: 2%;*/
/*}*/
.rate{
    padding: 3% 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rate h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}
.socpost{
    width: 30%;
    display: grid;
    justify-self: end;
    justify-items: end;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}
.socpost::before{
    content: 'Share';
    font-family: Roboto;
    font-style: normal;
    position: relative;
    top: -5px;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}
.formpost .search{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10vw;
    margin-right: 10vw;
}
.sometext h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 1%;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}
.sometext p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-right: 5%;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}
.sometext{
    padding: 3% 5%;
    padding-bottom: 1%;
    display: grid;
    grid-area: c;
    height: 100%;
}
.tagsdiv{
    grid-area: t;
    padding: 2% 5%;
    height: 100%;
}
.tagsdiv h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    font-weight: 900;
    padding: 1% 0;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}
.tagsdiv button{
    background: #FFFFFF;
    border: 1px solid #23A4DD;
    box-sizing: border-box;
    border-radius: 5px;
    color: #23A4DD
}
.sometext{
    font-weight: 900;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}
.tagsdiv{
    content: 'Project';
    font-weight: bold;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}
.auth{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.auth p{
    align-self: center;
    justify-self: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.auth img{
    align-self: center;
    justify-self: left;
}

.green{
    background: #A2C83A;
}
.authorized{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    /*grid-gap: 10px;*/
    text-align: right;
    color: rgba(0, 0, 0, 0.65);
    width: 100px;
    justify-self: end;
}
.authorized a {
    align-self: center;
    justify-self: center;
    color: black;
}
.authtitle{
    align-self: center;
}
.authtitle p{
    font-size: 10.7px;
    padding-top: 2%;
}
.forms {
    margin:0 10vw 0 10vw;
    padding: 10% 25%;
}
.forms h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
    padding-bottom: 10px;
    float: left; }

.forms input {
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;
    padding-left: 3%;
    width: 100%;
    clear: both;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.2); }

.accept {
    float: left;
    clear: both;
    margin-top: 30px;}

.forms label {
    float: left;
    clear: both;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
    padding: 10px 0; }

.authorized button {
    width: 50%;
    background-color: transparent;
    -ms-grid-column-align: center;
    justify-self: center; }

.logout {
    display: grid;
    justify-items: center;
    align-items: center;
}

.forms h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
    padding-bottom: 10px;
    float: left; }

.forms input {
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;
    padding-left: 3%;
    width: 100%;
    clear: both;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.2); }

.accept {
    float: left;
    clear: both;
    margin-top: 30px;}

.forms label {
    float: left;
    clear: both;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
    padding: 10px 0; }

.formbottom{
    float: left;
    clear: both;
    height: 25px;
}
.formbottom span {
    position: relative;
    /*width: 20vw;*/
    /*top: 63%;*/
    text-align: center;
    left: 5%;
    font-family: Roboto;
    top: 30px;
    /*font-weight: 700;*/
    /*font-size: 16px;*/
    color: red;
    /*left: 35vw;*/
    /*right: 40vw;*/
    /*z-index: 2;*/
    /*background: #fff;*/
    /*border: 1px solid #cccccc;*/
    /*border-radius: 10px;*/
    /*height: 100px;*/
}
.formbottom span + .formbottom button{
    float: left;
    clear: both;
}
.formbottom strong{
    margin-top: 30px;
}

.blog{
    display: grid;
    grid-template-rows: 1fr 5fr 3fr 4fr;
    padding: 0 10vw;
    grid-gap: 25px;
}
.bloginfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 0;
}
.bloginfo button{
    justify-self: end;
}
.blueh1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    color: #23A4DD;
}
h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
    color: #FFFFFF;
}
.blog h1{
    align-self: end;
}
p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.85);
}
.mainpost{
    border-radius: 10px;
    padding: 25px;
    display: grid;
    background: url("/assets/img/post.png");
    background-size: cover;
    grid-template-rows: 90% 10%;
}
.three{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
}
.three div{
    border-radius: 10px;
    padding: 25px;
    display: grid;
    background: url("/assets/img/post.png");
    background-size: cover;
    grid-template-rows: 90% 10%;
}
.three div h1{
    font-size: 30px;
    font-weight: 500;
}
.three div p{
    font-size: 20px;
    font-weight: 100;
}
.two{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
}
.two div{
    border-radius: 10px;
    padding: 25px;
    display: grid;
    background: url("/assets/img/post.png");
    background-size: cover;
    grid-template-rows: 90% 10%;
}
.moreposts{
    margin-bottom: 2%;
    color: #23A4DD;
    background: transparent;
}
.moreposts::before{
    content: ' ';
    position: absolute;
    right: 52.5%;
    height: 23px;
    width: 23px;
    opacity: 0.5;
    background: url("/assets/img/morepost.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.projectt h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.65); }

.projectt p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65); }

.projectt button {
    background: -webkit-gradient(linear, left bottom, left top, from(#A2C83A), to(#A2C83A)), #23A4DD;
    background: -webkit-linear-gradient(bottom, #A2C83A, #A2C83A), #23A4DD;
    background: -o-linear-gradient(bottom, #A2C83A, #A2C83A), #23A4DD;
    background: linear-gradient(0deg, #A2C83A, #A2C83A), #23A4DD;
    border-radius: 5px;
    font-family: Roboto;
    justify-self: start;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    height: 35px; }

.projectt .sect1 {
    display: -ms-grid;
    display: grid;
    min-height: 50vh;
    padding: 0 10vw;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }

.projectt .rightcol1 {
    display: -ms-grid;
    display: grid;
    height: 100%;
    /* -ms-grid-rows: 200px 70px auto; */
    /* grid-template-rows: 150px 70px auto;  */
}

.projectt .userinfo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr; }

.projectt .ava {
    width: 100%;
	border-radius: 10px;
    height: 100%; }

.projectt .nut {
    display: -ms-grid;
    display: grid;
    padding-left: 10%;
    -ms-grid-rows: auto;
    grid-template-rows: 1fr 1fr; }

.projectt .nut p {
    font-size: 1.5rem !important; }

.projectt .bluebut {
    background: #23A4DD; }

.projectt .hrefs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 50%;
    -ms-grid-row-align: center;
    justify-self: start;
    align-self: center; }

.projectt .buts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-row-align: end;
    align-self: end;
    grid-gap: 25px; }

.projectt .rightcol1 p {
    font-size: 20px;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start; }

.projectt .recommend h1 {
    padding-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65); }

.projectt .recommend div {
    display: -ms-grid;
    display: grid;
    width: 75%;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px; }

.projectt .recommend div button {
    background: #fff;
    color: #23A4DD;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15); }

.projectt .recommend {
    display: -ms-grid;
    display: grid; }

.projectt .slider {
    background: url("/assets/img/bg.png");
    background-size: cover;
    display: -ms-grid;
    display: grid; }

.projectt .text1 {
    width: 90%;
    padding-top: 0%; }

.mainstartuppost{
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 320px)) !important;
    grid-gap: 2%;
	margin-top: 2%;
}
.onepost{
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 8%;
    height: 270px;
    width: 270px;
    display: grid;
	cursor: pointer;
    grid-template-rows: 1fr 1fr ;
	border: 5px solid transparent;
}
.onepost:hover{
	transition: 0.2s;
	border: 5px solid #23A4DD;
}
.onepost img{
    width: 100%;
    height: 200px;
	border-radius: 5px;
}
.mainstartup{
    padding: 1% 10vw;
}
.fr2{
    display: grid;
	grid-template-columns: 1fr !important;
}
.fr2 h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    padding: 3% 0;
    line-height: normal;
    color: rgba(0, 0, 0, 0.35);
}
.fr2p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    padding: 6% 0;
    line-height: normal;
    grid-row-start: 2;
    height: 35px;
    align-self: end;
    color: black;
}
.postindex{
    grid-template-rows: auto !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center center;
}
.postindex h1{
    align-self: end;
}
.fr2 p{
    font-family: Roboto;
	word-wrap: break-word;
    font-style: normal;
    font-weight: 500;
    padding: 2% 0;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.85);
}
.mainstartuptitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    margin: 5px;
    font-size: 36px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.35);
}
.mainstartuptitle b{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}

/*.tags{*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-template-rows:1fr ;*/
    /*!*grid-area: ;*!*/
    /*grid-gap: 10px;*/
    /*padding: 2% 5%;*/
/*}*/
.tags li{
    background: #FFFFFF;
    border: 1px solid #23A4DD;
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    display: grid;
    align-items: center;
    color: #23A4DD;
}
.tags li{
    background: #FFFFFF;
    border: 1px solid #23A4DD;
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    display: grid;
    align-items: center;
    color: #23A4DD;
}
.active li{
    color: #23A4DD !important;
    border: 1px solid #23A4DD !important;
}
input{
    color: #000;
}
.tags{
    height: 48px;
    overflow: scroll;
    overflow-scrolling: auto;
}
.profileh1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    padding: 3% 5%;
    font-weight: 900;
    padding-bottom: 1%;
    line-height: normal;
    color: rgba(0, 0, 0, 0.65);
}
@media screen and (max-width: 1600px){
    /* .projectt .nut h1 {
        font-size: 2.5rem; }
    .projectt .nut p {
        font-size: 1rem; } */
    header{
        padding: 0 10vw;
    }
    .s1{
        padding: 0 10vw;
    }
    .block2 ul li{
        padding-left: 2%;
    }
    .s2{
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .s3{
        padding: 2% 2vw;
        background-size: 150%;
    }
    .s4{
        padding: 2% 2vw;
        grid-template-columns: 20% 30% 25% 25%
    }
    .partic img:nth-child(1) {
        bottom: 0;
        height: 70%;
    }
	.tags{
	 height: 38px;
	}
    .partic img:nth-child(2) {
        width: 87% !important;
    }
    .sect3-div{
        margin-top: 0;
    }
    .sect3-div h1{
        font-size: 58px;
    }
    .s3grid h2 {
        font-size: 50px;}
    .sect3-div p{
        font-size: 20px;
    }
    .musordiv2 img{
        height: 630px;
    }
    .startup1{
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 2%;
        grid-template-columns: 1fr 1fr
    }
    .startup1 button{
        margin-top: 20px;
    }
    /* .projectt .rightcol1 {
        grid-template-rows: 120px 53px auto;} */
    .spectop {
        grid-template-columns: 18% 70% 10%;
    }
    /* .projectt h1{
        font-size: 2.5rem;
    }
    .projectt .rightcol1 p{
        font-size: 1rem;
    } */
    .slider{
        border-radius: 10px;
    }
	.prof h1{
	padding-left: 3%;
}
    .mainstartup{
        padding: 1% 10vw;
    }
    /*.under{*/
    /*margin: 0 2vw;*/
    /*}*/
    .sometext p{
        font-size: 16px;
    }
    .pastila p {
        font-size: 18px;
        line-height: 31px;
    }
    .subscr input{
        align-self: center;
    }
    .post{
        grid-template-columns: 1fr 1fr;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .blog{
        padding: 0 10vw;
    }
    .moreposts::before{
        right: 55.5%;
    }
    .pastila{
        margin: 2% 10vw;
    }
    .postinfoimg{
        margin: 0 10vw;
    }
    .onepost{
        padding: 2%;
		height: 240px !important;
    }
	.onepost img {
		height: 155px;}
    .subscr{
        padding: 1% 10vw;
    }
    .formpost .search{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .mainstartuppost{
        grid-template-columns: repeat(auto-fit, minmax(250px, 260px)) !important;
    }
}
input{
    color: #000 !important;
}

.coming{
    background: url("/assets/img/comingbg.png");
    background-size: 100% 110%;
    background-position: 0 100%;
    min-height: 100vh;
    display: grid;
}
.coming button{
    align-self: center;
    justify-self: start;
    margin: 0 10vw;
    margin-top: 10%;
    color: #23A4DD;
    background: #fff;
}


.error404{
    background: linear-gradient(65.75deg, #23A4DD 0%, #4EC8FF 100%);
    min-height: 91.7vh;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.errortext{
    align-self: center;
    padding: 0 10vw;
}

.errortext h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 81px;
    line-height: normal;
    color: #FFFFFF;
    padding-bottom: 2%;
}
.errortext p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
}
.errortext button{
    background: #fff;
    color: #23A4DD;
    margin: 3% 0;
}
.authshow{
	background: #FFFFFF;
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
border-radius: 10px;
	display: grid;
	width: 40%;
	padding: 40px 80px;
	align-self: center;
	position: relative;
	margin: auto;
	grid-gap: 20px;
	justify-self: center;
	grid-template-columns: 1fr;
	justify-items: center;
}
.authshow img{
	width: 100px;
}
.authshow h1{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: normal;
color: rgba(0, 0, 0, 0.65);
}
.show-auth h1{
	display: grid;
	align-items: center;
	justify-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
	padding-top: 2px;
    color: rgba(0, 0, 0, 0.65);
	border: 1px solid #23A4DD;
	border-radius: 5px;
	height: 35px;
	width: 200px;
    justify-self: center;
    align-self: center;
    color: #23A4DD;
}
.authshow p{

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: normal;
text-align: center;

color: rgba(0, 0, 0, 0.65);

}
.prof h1{
	padding-left: 1%;
}
.bigcircles{
	position: absolute;
	left: 50%;
	top: 25%;
	animation: rotate 8s linear infinite forwards;
}
.smallcircles{
	position: absolute;
	left: 35%;
	top: 25%;
	animation: rotate 8s linear infinite forwards;
}
.medcircles{
	top: 65%;
	left: 30%;
	position: absolute;
	animation: rotate 8s linear infinite forwards;
}
.yula{
	position: absolute;
	top: 25%;
	animation: scale 2s linear alternate forwards infinite;
	left: 55%;
}
.twocirc{
	position: absolute;
	animation: translate 2s linear alternate forwards infinite;
	left: 45%;
	top: 10%;
}
@keyframes rotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@keyframes translate{
	from{
	transform: translate(0px);
	}
	to{
	transform: translate(15px);
	}
}
@keyframes scale{
	from{
	transform: scale(1);
	}
	to{
	transform: scale(1.05);
	}
}
.requirements{
	margin: 0 10vw;
	margin-bottom: 15px;
}
.requirements h1{
	color: #000;
	font-size: 24px;
	padding: 2% 0;
}
.requirements li{
	    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
	color: #000;
	padding: 5px 0;
}
.requirements p{
	color: #000;
	padding: 10px 0;
	font-size: 14px;
}
.requirements img{
	width: 150px;
    height: 153px;
    padding: 5px;
}
.requirements ul{
	margin: 0 3%;
}

.s4 a {
	font-family: Roboto;
    font-style: normal;
    line-height: normal;
    color: black;
}
.vm{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.vm img:nth-child(2){
	height: 60%;
}

.createstartuppost{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 8%;
    height: 290px;
    width: 270px;
    display: grid;
    cursor: pointer;
    border: 5px solid transparent;
    background-size: 110%;
    justify-self: start;
    background: linear-gradient(45.08deg, #648213 0%, #A2C83A 100%);
    background-position: 56% 46%;
}
.createstartuppost h1{
    text-transform: uppercase;
    font-size: 56px;
}
.createstartuppost svg{
    width: 100%;
}
.modal{
    position: fixed;
    left: calc(63vw - 30rem);
    top: 40%;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2);
    width: 30rem;
    display: grid;
    align-self: center;
    z-index: 101;
    justify-self: center;
    height: 10rem;
    padding: 30px 10px 10px 10px;
    background: #fff;
    font-family: Roboto;
    font-style: normal;
}
.modal h1{
    font-size: 2rem;
    font-weight: 500;
    align-self: center;
    justify-self: center;
	color: #000;
}
.modal p{
    font-size: 1.5rem;
    align-self: center;
	color: rgba(0,0,0, 0.75);
    justify-self: center
}
.modal a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #23A4DD;
    align-self: center;
    justify-self: center; 
}
.overlay{
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    z-index: 100;
    background: rgba(0,0,0, 0.5);
	left: 0;
    top: 0;
}
.modal .close{
    color: #000;
    font-weight: 600;
    font-size: 2rem;
    position: absolute;
    left: 94%;
    top: 1%;
}
@media screen and (max-width: 1600px){
    .createstartuppost{
        padding: 2%;
        height: 290px !important;
        width: 240px;
        background-size: 120%;
        background-position: 51% 46%;
    }
}
